// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.btn-tall {
  height: 4em;
  vertical-align: middle;
  margin-bottom: 5px;
}
